.clock-widget {
    display: flex;
    .date-container {
        display: inline;

    }
    .time-container {
        display: inline;
        
    }
    .timeoffset-container {
        display: inline;

    }
}